{
  "repositoryUrl": "https://github.com/JoaoPPCastelo/test-repo-minarca",
  "private": true,
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "dist/minarca-client_*_arm64.deb"
        ]
      }
    ],
    "@semantic-release/github"
  ]
}